echo ".DS_Store
node_modules/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints
.env
.idea/
.vscode/
data/
set/
/escriptorium/
/escriptorium_native/
/escriptorium_backup/
escriptorium_backup/
web/ketuvim.db
web/uploads
" > .gitignore
